language: java

jdk:
  - openjdk8

services:
  - docker

before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker pull openjdk:8-jdk-alpine

install: cd cicd-demo && mvn clean -Dgpg.skip=true

script:
  - mvn deploy
  - bash <(curl -s https://codecov.io/bash)